extends layout.pug

block content
  .col-md-8.col-md-offset-2
    h1 Google Drive Userscript
    h2 Why?
    p.
      This feature is not supported. If it doesn't work we can't really help you. Sorry.
    h2 How It Works
    p.
      The userscript is a short script that you can install using a browser
      extension such as Greasemonkey or Tampermonkey that runs on the page
      and provides additional functionality needed to play Google Drive
      videos.
    h2 Installation
    h4 Step one!
    ul
      li
        strong Chrome
        | &mdash;Install <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Tampermonkey</a>.
      li
        strong Firefox
        | &mdash;Install <a href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/" target="_blank">Tampermonkey</a>
        | or <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a>.
      li
        strong Other Browsers
        | &mdash;Install the appropriate userscript plugin for your browser.
        | Tampermonkey supports many browsers besides Chrome.
    h4 Step two!
    p.
      Once you have installed the userscript manager addon for your browser,
      you can <a href="/js/3reo-google-drive.user.js" target="_blank">
      install the userscript</a>.